<footer class="main-footer footer-type-1 text-xs">
    <div id="footer-tools" class="d-flex flex-column">
        <!-- 右下角返回顶部  -->
        <a href="javascript:" id="go-to-up" class="btn rounded-circle go-up m-1" rel="go-top">
            <i class="fas fa-arrow-up"></i>
        </a>
        <!-- 右下角搜索  -->
        <a href="javascript:" class="btn rounded-circle m-1"
            rel="search" one-link-mark="yes" title="本地搜索">
            <i class="fas fa-search"></i>
        </a>
        <!-- 右下角联系我们 -->
        <a href="#{{ md5 "联系我们" }}" class="btn rounded-circle kefu m-1 smooth"
            data-toggle="tooltip" data-placement="left" title="联系我们">
            <i class="fas fa-comment-dots"></i>
        </a>
        <!-- 右下角夜/日间模式切换 -->
        <a href="javascript:" onclick="switchNightMode()"
            class="btn rounded-circle switch-dark-mode m-1" id="yejian" data-toggle="tooltip" data-placement="left"
            title="夜/日间模式">
            <i class="fas fa-adjust"></i>
        </a>
    </div>
    <div class="footer-inner">

        <div class="footer-text">
            本站收录内容源自互联网，不对其网站内容或交易负责。如有内容侵犯权益，请<a href="#{{ md5 "联系我们" }}" class="smooth" title="联系我们" style="color: #007bff;">联系站长</a>删除相关内容！
            <br /><br />
            Copyright <i class="far fa-copyright"><script>document.write(new Date().getFullYear());</script> 驼铃电商工具箱 丨
            <span id="sitetime">正在载入网站运行时间...</span>
            <script>
                //网站运行时长
                function ShowRunTime(id) {
                    var BootDate = new Date("2025/7/1 00:00:00");//设置网站运行时间，格式：年/月/日 时:分:秒
                    var NowDate = new Date();
                    var RunDateM = parseInt(NowDate - BootDate);
                    var RunDays = Math.floor(RunDateM / (24 * 3600 * 1000));
                    var RunHours = Math.floor(RunDateM % (24 * 3600 * 1000) / (3600 * 1000));
                    var RunMinutes = Math.floor(RunDateM % (24 * 3600 * 1000) % (3600 * 1000) / (60 * 1000));
                    var RunSeconds = Math.round(RunDateM % (24 * 3600 * 1000) % (3600 * 1000) % (60 * 1000) / 1000);
                    document.getElementById(id).innerHTML = "网站已运行 "
                        + "<font style='color:#FFA500;font-weight:bold'>" + RunDays + "</font>" + " 天 "
                        + "<font style='color:#1DBF97;font-weight:bold'>" + RunHours + "</font>" + " 小时 "
                        + "<font style='color:#8A2BE2;font-weight:bold'>" + RunMinutes + "</font>" + " 分 "
                        + "<font style='color:#007EC6;font-weight:bold'>" + RunSeconds + "</font>" + " 秒 ";
                }
                setInterval("ShowRunTime('sitetime')", 1000);
            </script>
        </div>
    </div>
</footer>
</div><!-- main-content end -->
</div><!-- page-container end -->