<div id="content" class="content-site customize-site">

    <!--主站推荐-->
    {{ range .Site.Data.recommend }}
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="fas fa-stream site-tag mr-1" id="{{ md5 .taxonomy }}"></i>
            {{ .taxonomy }}
        </h4>
        <!--div class="flex-fill"></div>
                <a class='btn-move text-xs' href='#'>more+</a-->
    </div>
    <div class="row">
        {{ range .links }}
            <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
                <div class="url-body default">
                    <!--去除 Tooltip
                <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4" title="{{ .title }}">
                -->
                    {{ if .qrcode }}
                    <a href="{{ if .url }}{{ .url }}{{ else }}javascript:{{ end }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                       data-html="true" title="<img src='{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .qrcode }}' width='{{ if .width }}{{ .width }}{{ else }}128{{ end }}'>">
                        {{ else }}
                        <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4"
                           data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                            {{ end }}
                            <div class="card-body">
                                <div class="url-content d-flex align-items-center">
                                    <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                        {{ if findRE "http.*?(.|\n)*?" .logo }}
                                        <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}" data-src="{{ .logo }}"
                                             alt="{{ .title }}">
                                        {{ else }}
                                        <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}"
                                             data-src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.logosPath }}/{{ .logo }}"
                                             alt="{{ .title }}">
                                        {{ end }}
                                    </div>
                                    <div class="url-info flex-fill">
                                        <div class="text-sm overflowClip_1">
                                            <strong>{{ .title }}</strong>
                                        </div>
                                        <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="{{ .url }}" class="togo text-center text-muted is-views" target="_blank" data-id="689"
                           data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                            <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </a>
                </div>
            </div>
        {{ end }}
    </div>
    <br />
    {{ end }}

    {{ range .Site.Data.webstack }}
    {{ if .list }}
    {{ $taxonomy := .taxonomy }} <!-- 避免同名二级导航定位不正确的问题 -->
    {{ $tabs := .tabs }} <!-- 获取tabs数据 -->
    
    <!-- 一级分类标题 -->
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="{{ .icon }} site-tag mr-1" id="{{ md5 .taxonomy }}"></i>
            {{ .taxonomy }}
        </h4>
    </div>
    
    <!-- 标签式二级菜单导航 -->
    <ul class="nav nav-tabs mb-4" id="{{ md5 .taxonomy }}-tabs" role="tablist">
        {{ range $index, $tab := .tabs }}
        <li class="nav-item" role="presentation">
            <a class="nav-link{{ if eq $index 0 }} active{{ end }}" 
               id="{{ md5 (printf "%s-%s-tab" $taxonomy $tab.name) }}" 
               data-toggle="tab" 
               href="#{{ md5 (printf "%s-%s" $taxonomy $tab.name) }}" 
               role="tab" 
               aria-controls="{{ md5 (printf "%s-%s" $taxonomy $tab.name) }}" 
               aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
                {{ $tab.name }}
            </a>
        </li>
        {{ end }}
    </ul>
    
    <!-- 标签内容区域 -->
    <div class="tab-content" id="{{ md5 .taxonomy }}-content">
    {{ range $index, $tab := .tabs }}
    <!--正文网址导航-->
    <!-- {{ $tab.name }} -->
    <div class="tab-pane fade{{ if eq $index 0 }} show active{{ end }}" 
         id="{{ md5 (printf "%s-%s" $taxonomy $tab.name) }}" 
         role="tabpanel" 
         aria-labelledby="{{ md5 (printf "%s-%s-tab" $taxonomy $tab.name) }}">
    <!--获取内容列表-->
    <div class="row">
        {{ range .links }}
        <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
            <div class="url-body default">
                <!--去除 Tooltip
                        <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4" title="{{ .title }}">
			去除 Tooltip -->
                {{ if .qrcode }}
                <a href="{{ if .url }}{{ .url }}{{ else }}javascript:{{ end }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                   data-html="true" title="<img src='{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .qrcode }}' width='{{ if .width }}{{ .width }}{{ else }}128{{ end }}'>">
                    {{ else }}
                    <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4"
                       data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                        {{ end }}
                        <div class="card-body">
                            <div class="url-content d-flex align-items-center">
                                <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                    {{ if findRE "http.*?(.|\n)*?" .logo }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}" data-src="{{ .logo }}" alt="{{ .title }}">
                                    {{ else }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}"
                                         data-src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.logosPath }}/{{ .logo }}"
                                         alt="{{ .title }}">
                                    {{ end }}
                                </div>
                                <div class="url-info flex-fill">
                                    <div class="text-sm overflowClip_1">
                                        <strong>{{ .title }}</strong>
                                    </div>
                                    <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ .url }}" class="togo text-center text-muted is-views" target="_blank" data-id="689"
                       data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
            </div>
        </div>
        {{ end }}
    </div><!--end row-->
    </div><!--end tab-pane-->
    <!--END {{ $tab.name }} -->
    {{ end }}
    </div><!--end tab-content-->
    <br />
    {{ else }}
    <!-- 时间样式 -->
    <!--主站推荐-->
    <!-- {{ .taxonomy }} -->
    <div class="d-flex flex-fill">
        <h4 class="text-gray text-lg mb-4">
            <i class="fas fa-stream site-tag mr-1" id="{{ md5 .taxonomy }}"></i>
            {{ .taxonomy }}
        </h4>
        <!--div class="flex-fill"></div>
                <a class='btn-move text-xs' href='#'>more+</a-->
    </div>
    <!--获取内容列表-->
    <div class="row">
        {{ range .links }}
        <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
            <div class="url-body default">
                <!--去除 Tooltip
			<a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4" title="{{ .title }}">
			-->
                {{ if .qrcode }}
                <a href="{{ if .url }}{{ .url }}{{ else }}javascript:{{ end }}" target="_blank" class="card no-c mb-4" data-toggle="tooltip" data-placement="bottom"
                   data-html="true" title="<img src='{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ .qrcode }}' width='{{ if .width }}{{ .width }}{{ else }}128{{ end }}'>">
                    {{ else }}
                    <a href="{{ .url }}" target="_blank" data-id="" data-url="{{ .url }}" class="card no-c mb-4"
                       data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .description }}">
                        {{ end }}
                        <div class="card-body">
                            <div class="url-content d-flex align-items-center">
                                <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                    {{ if findRE "http.*?(.|\n)*?" .logo }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}" data-src="{{ .logo }}"
                                         alt="{{ .title }}">
                                    {{ else }}
                                    <img class="lazy" src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.defaultLogo }}"
                                         data-src="{{ with $.Site.Params.cdnURL }}{{ . }}{{ end }}{{ $.Site.Params.logosPath }}/{{ .logo }}"
                                         alt="{{ .title }}">
                                    {{ end }}
                                </div>
                                <div class="url-info flex-fill">
                                    <div class="text-sm overflowClip_1">
                                        <strong>{{ .title }}</strong>
                                    </div>
                                    <p class="overflowClip_1 m-0 text-muted text-xs">{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ .url }}" class="togo text-center text-muted is-views" target="_blank" data-id="689"
                       data-toggle="tooltip" data-placement="right" title="直达" rel="nofollow">
                        <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                </a>
            </div>
        </div>
        {{ end }}
    </div>
    <br />
    {{ end }}
    {{ end }}

</div>
